<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Your favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="holder">
  <ion-grid>
     <ion-row style="border-style: solid;margin: 10px;border-width: 1px;height: 10%;align-items: center;display: flex;justify-content: center;align-items: center;background-color: #3e2055;box-shadow:1px 1px 1px #9010F5;color: white;" *ngFor="let x of favouriteArray">
       <p [routerLink] = "['/favourite-space',x.spaceuid,x.companyuid,x.compantprofileuid,x.favouriteuid]">{{x.workspace}} {{x.price}}</p> 
       <ion-icon style="position: absolute;right: 5%;font-size: 20px;" name="chevron-forward-outline"></ion-icon>
       <ion-icon style="position: absolute;left: 10%;font-size: 25px; color: white;" name="star"></ion-icon>
    </ion-row>
  </ion-grid> 
</div>


<div id="footer">
   
  <ion-icon (click)="back()" style="font-size: 26px;position: absolute;left: 2%;" name="chevron-back-outline"></ion-icon>
   <!-- <ion-icon style="font-size: 26px;position: absolute;left: 2%;" name="chevron-back-outline"></ion-icon> -->
   <ion-icon style="font-size: 26px;"  [routerLink] = "['/view-gallary',this.favSpace]" name="images-outline"></ion-icon>
   <ion-icon *ngIf="this.account.getUserSession()" [routerLink]="'/user-landing'" style="font-size: 26px;position: absolute;right: 2%;" name="person-circle-outline"></ion-icon>
   
 </div>


 
</ion-content>
                     