<ion-content>
  <div class="container">



    <!-- <ion-header>
      <ion-toolbar>
        <div  *ngIf="this.account.getUserSession()" ><a style="padding-left:5%;padding-top:5%" (click)="logout()">LogOut</a></div>
        <ion-buttons *ngIf="!this.account.getUserSession()" slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons (click)="back()" *ngIf="this.account.getUserSession()"  slot="start">
          <ion-icon  name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-grid>
          <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4"></ion-col>
    <ion-col  size="4" style="color: rgb(14, 248, 14);" *ngIf="this.account.getUserSession()">
      <a [routerLink]="'/user-landing'" ><ion-icon name="person-sharp"></ion-icon></a>
    </ion-col>
          </ion-row>
        </ion-grid>
        <ion-title>view-space</ion-title>
      </ion-toolbar>
    </ion-header> -->




    <div id="img">
       <img style=" width: 100%;height: 100%;"  [src]="this.image" />
     
      
    
    </div>
    <div class="shade">
      <p style="position: absolute;bottom: 17%;left: 3%;font-family: roboto;color: white;font-size: 36px;font-weight: bold;"> {{this.categories}}</p>
      <!-- <p style="position: absolute;bottom: 15%;left: 3%;font-family: roboto;color: #ffffff;font-size: 20px;">{{this.address}}</p> -->
      <p style="position: absolute;bottom: 10%;left: 3%;font-family: roboto;color: #FF4D00;font-size: 15px;;">R{{this.price}}.00</p>
   
     <p style="position: absolute;right: 17%; bottom: 10%;" *ngIf="this.account.getUserSession()"> <ion-icon (click)="addToFavourites(this.uid, this.workspace_uid,this.favSpace,this.categories,this.price)" style="font-size: 30px;position: absolute;right: 17%; bottom: 15%;color: #F5AA6E;" name="heart"></ion-icon></p>
     
     <ion-icon *ngIf="this.account.getUserSession()" [routerLink]="'/user-landing'"  style="position: absolute;right: 6%;bottom: 15%;font-size: 30px;color: #F5AA6E;"     name="person-add-sharp"></ion-icon>
     <ion-icon (click)="back()" style="font-size: 26px;position: absolute;left: 3%;top:5%; background-color:black;color:white;border-radius:50%" name="chevron-back-outline"></ion-icon>
    </div>
    <div id="bottom">
      <ion-card-header  style="width: 100%;height: 100%;">
                                                                                                                   
      <div *ngIf="this.account.getUserSession()">
        <!-- <a *ngIf="comments==0" (click)="previews()">Comment...</a> || <a *ngIf="comments==0" [routerLink] = "['/viewcomments',this.uid,getSpaceuid,getSpaceId]">View Comments</a><a *ngIf="comments==3" (click)="remove()">close</a><br/> -->
        <div>
         <form [formGroup]="previewForm" >
         <ion-grid>
           <ion-row>
             <ion-col > 
               <ion-textarea formControlName="comment" placeholder="comment here (less than 100 letters)..."></ion-textarea>
               <div style="color:red;font-size: 12px;" *ngIf="isValidInputComments('comment')"
               class="alert alert-danger">
               <div  *ngIf="previewForm.controls['comment'].errors.required">
                 Comment field is empty!
               </div>
               <div *ngIf="previewForm.controls['comment'].errors.maxlength"> 
                 Maximum of 100 characters allowed
               </div> 
               <div *ngIf="previewForm.controls['comment'].errors.minlength"> 
                 Minimum of 4 characters allowed
               </div> 
             </div>
              </ion-col>
            </ion-row>
            <ion-row >
              
  
              
              <ion-col><ion-button  style="--background:#9010F5;" [disabled]="!previewForm.valid" (click)="sendComment()" expand="full" >comment</ion-button></ion-col> 
             <ion-col><a style="padding-top:30px;" [routerLink] = "['/viewcomments',this.uid,getSpaceuid,getSpaceId]">View Comments</a></ion-col>
            </ion-row>
         </ion-grid>
        </form>
      </div>  
      <div *ngIf="comments==3">
        <span>Posted...</span>
     </div> 
      </div>
      <div>
        <form [formGroup]="reservationForm" >
          <ion-grid>
          
            <ion-row>
              <ion-col>
                <span>Checkin</span>
                
                <ion-input type="date"  
                [min]="minDate"
                [max]="maxDate"
               
                formControlName="checkin"></ion-input>
                <div style="color:red; font-size: 12px;" *ngIf="isValidInput('checkin')"
                class="alert alert-danger">
                <div *ngIf="reservationForm.controls['checkin'].errors.required">
                  Checkin date is required.
                </div>
              </div>
              </ion-col>
              <ion-col>
                <span>Timein</span>
                <ion-input [min]="minTime" type="time" formControlName="timein"></ion-input>
                <div style="color:red; font-size: 12px;" *ngIf="isValidInput('timein')"
                class="alert alert-danger">
                <div *ngIf="reservationForm.controls['timein'].errors.required">
                  timein is required.
                </div>
              </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span>Checkout</span>
                <ion-input type="date"     
                [min]="minDate"
                [max]="maxDate" 
                formControlName="checkout"></ion-input>
                <div style="color:red; font-size: 12px;" *ngIf="isValidInput('checkout')"
                class="alert alert-danger">
                <div *ngIf="reservationForm.controls['checkout'].errors.required">
                  checkout date is required.
                </div>
              </div>
              </ion-col>
              <ion-col>
                <span>Timeout</span>
                <ion-input type="time" formControlName="timeout"></ion-input>
                <div style="color:red; font-size: 12px;" *ngIf="isValidInput('timeout')"
                class="alert alert-danger">
                <div *ngIf="reservationForm.controls['timeout'].errors.required">
                  timeout is required.
                </div>
              </div>
              </ion-col>
            </ion-row>
            <ion-row style="color:red; font-size: 12px;">
              {{this.messageValue}}
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="this.account.getUserSession()">
  
            
  
          <ion-item style="font-size: 1em;" *ngIf="this.total!==0">
            <ion-grid>
              <ion-row>
                <span style="color:green">Space: R{{ this.price }}</span>
              </ion-row>
              <ion-row>
                <span style="color:green">Extras: R{{ this.total }}</span>
              </ion-row>
              <ion-row>
                <span style="color:green">Total: R{{ this.price+this.total }}</span>
              </ion-row>
            </ion-grid> 
            </ion-item> 
            <ion-row *ngIf="extraAmenities">
              <ion-col  *ngFor="let x of extraAmenities; let i = index">
  
                <ion-list style="width: 100%;margin:0px;text-decoration: none;">
              
                  <div style="text-align: center;">
                    <button (click)="addExtras(x.anemenity,x.price)" style="border-radius: 100%;height: 50px;width: 50px;">  {{x.anemenity}}</button><br>
                    <ion-label>R{{x.price}}</ion-label>
                  </div>
                 
                  
           
                   
        
                </ion-list >
  
                
                 
              </ion-col>
            </ion-row>
    
          </ion-grid>
       
      <ion-card-content>
  
  <ion-grid >
    <ion-row>  <span><b>Description</b></span></ion-row>
    <ion-row>
    
     {{this.description}} 
    </ion-row>
    <ion-row><span><b>amenities</b></span></ion-row>
    <ion-row *ngIf="amenities">
      
     <ion-col  *ngFor="let y of amenities">
      {{y}}
     </ion-col>
    </ion-row> 
    <ion-row>
  
    </ion-row>
  </ion-grid> <br>
  <section class="full-width">
    <ion-button style="--background:#1e212d;font-weight: bold;font-family: poppins;border-radius: 30px;" *ngIf="!this.account.getUserSession()" [routerLink]="'/signin'" expand="full">LOGIN</ion-button>
    <ion-button     style="--background:#1e212d;font-weight: bold;font-family: poppins; border-top-left-radius: 30px;"      [disabled]="!reservationForm.valid"
    *ngIf="this.account.getUserSession()" (click)="submit()" expand="full" >BOOK NOW</ion-button>
  </section>
     </ion-card-content>
    </form>
  </div>
  
   
  </ion-card-header>

    </div>
</div>
</ion-content>
